doctype html
html(lang='vn')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        // Meta og
        meta(property='og:title', content='Ariston Thoải Mái Bất Tận Cùng Chuyên Gia Ý')
        meta(property='og:description', content='Thiết kế mảnh mai, dung tích thoải mái')
        meta(property='og:image', content='http://maynuocnongslim30st.ariston.com/assets/images/fb.jpg')
        meta(property='og:url', content='http://maynuocnongslim30st.ariston.com/index.html')
        meta(property='og:site_name', content='Ariston Vietnam')
        // End Meta og
        title Máy Nước Nóng SLIM 30 ST | Ariston
        link(rel='shortcut icon', href='./assets/images/favicon.ico')
        // Link CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='./assets/css/styles.css?ver=1.2')
        // End Link CSS
        // Google Tag Manager
        script(src='./assets/js/tag-manage.js?ver=171114')
        // End Google Tag Manager
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5CX6JLC" height="0" width="0" style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)
        div
            header#masthead.site-header.wow.fadeInUp
                .container
                    .site-branding
                        a.custom-logo-link(href='http://www.ariston.com/vn/', target="_blank", rel='bookmark', itemscope='url')
                            img(src='assets/images/top-logo-ariston.png')
                    // .site-branding
                    nav#site-navigation.main-navigation
                        #top-nav-icon.space-middle
                            .nav-icon-container
                                .nav-main__icon
                                    .nav-main__line.nav-main__line--1
                                    .nav-main__line.nav-main__line--2
                                    .nav-main__line.nav-main__line--3
                        ul#primary-menu.clearfix.menu(aria-expanded='false')
                            block menu

                    // #site-navigation
                // .container
            // #masthead

            .site-content
                block content
            // .site-content

            footer#colophon.site-footer
                .site-info
                    .container
                        .left Copyright © 2016 Ariston Thermo SPA
                        .right
                            span Đường dây nóng:
                                b 1800 1517
                                span.social
                                    span.line &nbsp;&nbsp;|&nbsp;&nbsp;
                                    | Liên hệ với chúng tôi
                                    a(href="https://www.facebook.com/AristonThermo.VN/?fref=ts", target="_blank")
                                        img(src="assets/images/icon_fb.png", alt="Ariston Thermo VN")
                                    a(href="https://www.youtube.com/user/AristonVietnam", target="_blank")
                                        img(src="assets/images/icon_youtube.png", alt="Ariston Vietnam")
                                    a(href="http://www.ariston.com/vn/contacts", target="_blank")
                                        img(src="assets/images/icon_mail.png", alt="Ariston Contact")
            // #colophon
        // Script Libs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/graingert-wow/1.2.2/wow.min.js')
        script(src='https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js')
        // End Script Libs
        script(src='./assets/js/scripts.js?ver=171114')