ul.prod-detail
    li
        img(src="./assets/images/silver-icon.png")
        span Công nghệ ION BẠC
    li
        img(src="./assets/images/slim-icon.png")
        span Tiết kiệm không gian
    li
        img(src="./assets/images/italia-icon.png")
        span Thiết kế Ý sang trọng
    li
        img(src="./assets/images/real30-icon.png")
        span Dung tích thực 30L
    li
        img(src="./assets/images/light-icon.png")
        span Đèn LED màu xanh báo nước nóng sẵng sàng
// .prod-detail
div.button-showup
    span.fab-button
        i.material-icons add