@font-face {
  font-family: 'Myriad';
  src: url('../fonts/Myriad-Pro-Light_31642.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url('../fonts/Myriad-Pro_31655.ttf');
  font-weight: bold;
}